#!/bin/bash
set -euo pipefail

# Install Power Management Utilities
# We use a hash of the package list to trigger updates if this list changes
# packages: power-profiles-daemon thermald 

echo "Installing power management utilities..."
sudo zypper install -y power-profiles-daemon thermald 