{{ if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}
#!/bin/bash
set -euo pipefail

# Install Power Management Utilities
# Removed tlp due to package conflicts with power-profiles-daemon
# packages: power-profiles-daemon thermald

echo "Installing power management utilities..."
sudo zypper install -y power-profiles-daemon thermald

{{ end -}}