#!/usr/bin/env bash

echo "Rozpoczynam instalację i naprawę zależności..."

sudo zypper addrepo --refresh https://download.opensuse.org/repositories/home:/dmafanasyev/openSUSE_Tumbleweed/ dmafanasyev

sudo zypper addrepo -C -f -n "X11:Utilities" https://download.opensuse.org/repositories/X11:Utilities/openSUSE_Tumbleweed/X11:Utilities.repo

sudo zypper --gpg-auto-import-keys refresh

if rpm -q tuned &> /dev/null; then
    echo "Wykryto konflikt: usuwanie 'tuned' na rzecz 'tlp'..."
    sudo zypper remove -y tuned
fi

sudo zypper install -y i3 polybar rofi picom dunst

sudo zypper install -y NetworkManager-applet blueman pavucontrol brightnessctl feh arandr autorandr

sudo zypper install -y lxappearance thunar kitty polkit-gnome

sudo zypper install -y fontawesome-fonts jetbrains-mono-fonts papirus-icon-theme

sudo zypper install -y tlp intel-media-driver sof-firmware alsa-firmware alsa-ucm-conf

sudo zypper install -y pipewire pipewire-alsa pipewire-pulseaudio wireplumber alsa-utils

sudo zypper install -y i3lock xss-lock scrot ImageMagick

sudo zypper install -y metatheme-arc-common gtk3-metatheme-arc gtk2-metatheme-arc

sudo zypper install -y lxpolkit fprintd fprintd-pam howdy

sudo zypper install -y virt-manager libvirt distrobox patterns-server-kvm_server patterns-server-kvm_tools

sudo zypper install -y btop aria2 opi upower flameshot discord NetworkManager-openconnect

sudo systemctl enable --now autorandr.service

sudo systemctl enable --now bluetooth

tmp_dir="$(mktemp -d)"
trap 'rm -rf $tmp_dir' TERM
curl -fsSL "https://code.visualstudio.com/sha/download?build=stable&os=linux-rpm-x64" -o "${tmp_dir}/vscode.rpm"
sudo zypper in --no-gpg-checks -y "${tmp_dir}/vscode.rpm"

sudo zypper install -y tlp intel-media-driver sof-firmware alsa-firmware alsa-ucm-conf intel-gpu-tools

echo "Instalacja pakietów zakończona pomyślnie."
